{% extends "layout.html.twig" %}

{% block content %}
<div class="page-header">
    <h1><a href="/{{ Config('subDir') }}" class="folder" data-in="0">{{ Config('rootName') }}</a>
    {% set urlParts = Config('subDir') ? ('/' ~ Config('subDir') | slice(0, Config('subDir') | length - 1)) : '' %}
    {% for part in dir.parts %}
    {% set urlParts = urlParts ~ '/' ~ part  %} 
    / {% if loop.last %}{{ part }}{% else %}<a href="{{ urlParts }}" class="folder" data-in="0">{{ part }}</a>{% endif %}
    {% endfor %}
    </h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default" id="list">
            <div class="panel-heading">
                <span class="pull-right">{{ dir.elements|length }} elemento{{ dir.elements | length == 1 ? '' : 's' }}</span>
                <div class="panel-loader"></div>
                <h3 class="panel-title">{{ Config('rootName') }}</h3>
            </div>
            {% include 'list.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}



{% block javascripts %}
<script type="text/javascript">
var current = '{{ dir.url | slice(Config('subDir') | length) }}', rootDir = '{{ Config('rootName') }}', subDir = '{{ Config('subDir') }}';
$.fx.off = {{ app.disableAnimations ? 'true' : 'false' }};
</script>
<script src="{{ Config('sysUrl') }}js/index.js" type="text/javascript"></script>
{% endblock %}