<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><a href="#" data-name="name">Nombre{% if order == 'name' %} <span class="glyphicon glyphicon-chevron-{{ asc ? 'down' : 'up' }}"></span>{% endif %}</a></th>
                <th><a href="#" data-name="ext">Extensión{% if order == 'ext' %} <span class="glyphicon glyphicon-chevron-{{ asc ? 'down' : 'up' }}"></span>{% endif %}</a></th>
                <th><a href="#" data-name="size">Tamaño{% if order == 'size' %} <span class="glyphicon glyphicon-chevron-{{ asc ? 'down' : 'up' }}"></span>{% endif %}</a></th>
                <th style="width:80px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for ele in dir.elements %}
            <tr>
                <td{% if ele.status %} class="status-{{ ele.status }}"{% endif %}><span class="status-ico"></span><span class="ico-{{ ele.icon }}"></span> <a href="{{ ele.url }}"{% if ele.isDir %} data-in="1" class="folder"{% elseif ele.isImage %} data-fancybox-title="{{ ele.name }}" rel="gallery1" class="showImage"{% else %} target="_blank"{% endif %}>{{ ele.name }}</a></td>
                <td>{{ ele.isDir ? '' : ele.extension }}</td>
                <td>{{ ele.isDir ? '' : ele.sizeString }}</td>
                <td class="text-right">
                    {% if not ele.isDir %}
                        {% if ele.isImage %}
                    <a href="{{ ele.url }}"  data-fancybox-title="{{ ele.name }}" title="Ver&nbsp;imagen" rel="gallery2" class="showImage"><span class="ico-photo"></span></a>
                        {% else %}
                    <a href="{{ ele.url }}" data-fancybox-type="iframe" data-fancybox-title="{{ ele.name }}" title="Ver&nbsp;en&nbsp;Iframe" class="showIframe"><span class="ico-iframe"></span></a>
                    <a href="/{{ Config('subDir') }}_code{{ ele.url }}" data-fancybox-type="iframe" data-fancybox-title="{{ ele.name }}" title="Ver&nbsp;código&nbsp;de&nbsp;fuente" class="showCode"><span class="ico-code"></span></a>
                        {% endif %}
                    <a href="{{ ele.url }}" title="Ejecutar&nbsp;en&nbsp;navegador" target="_blank" class="open"><span class="ico-open"></span></a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="4" class="text-center"><em>Directorio vacio</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>